<configuration>

  <!-- -Dlogback.configurationFile -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.amazonaws.request" level="DEBUG"/>
  <logger name="com.amazonaws.latency" level="DEBUG"/>
  <logger name="org.apache.http.wire" level="DEBUG"/>
  <logger name="software.amazon" level="DEBUG"/>

  <!-- end -->

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>