version: 2.1
jobs:
  build-artifacts:

    working_directory: ~/esop

    docker:
      - image: cimg/openjdk:11.0.20

    steps:
      - checkout

      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-

      - run:
          name: "Build Artifacts"
          command: mvn clean install -DskipTests=true -PsnapshotRepo,rpm,deb -DoutputDirectory=/tmp/artifacts

      - store_artifacts:
          path: /tmp/artifacts

      - persist_to_workspace:
          root: /tmp/artifacts
          paths:
            - "esop*.jar"
            - "esop*.rpm"
            - "esop*.deb"

  test-core:
    working_directory: ~/esop
    resource_class: medium
    docker:
      - image: cimg/openjdk:11.0.20
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Run tests for Esop core"
          command: |
            mvn -pl core verify -Pcassandra5 \
              -Dcassandra4.version=4.1.10 \
              -Dcassandra5.version=5.0.6 \
              -Dsstable.format=big

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}
      - store_test_results:
          path: ~/esop/core/target/surefire-reports

  test-s3:
    working_directory: ~/esop
    # S3 tests requires more memory so use a larger resource class
    resource_class: large
    docker:
      - image: cimg/openjdk:11.0.20
    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2-
      - run:
          name: "Run tests for AWS S3"
          command: |
            AWS_REGION=us-east-1 mvn -pl s3 verify -Ps3Tests,!noCloudTests \
              -Dcassandra4.version=4.1.10 \
              -Dcassandra5.version=5.0.6 \
              -Dsstable.format=big \
              -DTEST_ESOP_AWS_KMS_WRAPPING_KEY="${TEST_ESOP_AWS_KMS_WRAPPING_KEY}"

      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}
      - store_test_results:
          path: ~/esop/s3/target/surefire-reports

  publish-github-release:
    docker:
      - image: cimg/go:1.21.1
    steps:
      - attach_workspace:
          at: ./artifacts
      - run:
          name: "Publish Release on GitHub"
          command: |
            set -xue
            go install github.com/tcnksm/ghr@latest
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${CIRCLE_TAG} ./artifacts/

workflows:
  test_and_build:
    jobs:
      - build-artifacts:
          requires:
            - test-core
            - test-s3
          filters:
            tags:
              only: /^esop-\d+\.\d+\.\d+$/
      - test-s3:
          filters:
            tags:
              only: /^esop-\d+\.\d+\.\d+$/
      - test-core:
          filters:
            tags:
              only: /^esop-\d+\.\d+\.\d+$/
      - publish-github-release:
          requires:
            - build-artifacts
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^esop-\d+\.\d+\.\d+$/
