<configuration>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="org.hibernate.validator.internal" level="WARN"/>
  <logger name="org.glassfish.jersey.internal" level="ERROR"/>
  <logger name="com.datastax" level="WARN"/>
  
  <!-- disable / enable as you wish -->
  
  <!--logger name="com.instaclustr.esop.impl" level="INFO"/>
  <logger name="com.instaclustr.esop.impl.backup.Backuper" level="INFO"/>
  <logger name="com.instaclustr.esop.impl.restore.Restorer" level="INFO"/>
  <logger name="com.instaclustr.esop.s3" level="INFO"/>
  <logger name="com.instaclustr.esop.azure" level="INFO"/>
  <logger name="com.instaclustr.esop.gcp" level="INFO"/>
  <logger name="com.instaclustr.esop.local" level="INFO"/>
  <logger name="com.instaclustr.esop.cli" level="INFO"/-->
  
  <logger name="com.instaclustr" level="INFO"/>
  
  <!-- consult https://docs.aws.amazon.com/sdk-for-java/v1/developer-guide/java-dg-logging.html -->
  
  <logger name="com.amazonaws.request" level="INFO"/>
  <logger name="com.amazonaws.latency" level="INFO"/>
  <logger name="org.apache.http.wire" level="INFO"/>
  <logger name="com.amazonaws" level="INFO"/>
  
  <!-- end -->
  
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>